
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --text-color: #3C3C3C;
}


.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.inputField {
  width: 180px;
  height: 35px;
}


.loginCSS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 380px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signupCSS{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: Rubik;
  font-weight: 300;
  width: 500px;
  height: 600px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login {
  font-family: Verdana;
  font-size: 18px;
}

::placeholder {
  padding-left: 5px;
  text-align: left;
}

.newUsers{
  font-family: Verdana;
  font-size: 15px;
}

.loginButton {
  font-family: Verdana;
  font-size: 15px;
  background-color: #86d1fc;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 180px;
  height: 36px;
}

.signupButton {
  font-family: Verdana;
  font-size: 15px;
  background-color: #86d1fc;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 36px;
}

.signupText{
  font-family: Verdana;
}

.outerBox {
  margin-top: 30px;
  margin-left: 30px;
}

.welcomeContainer {
  padding-left: 20px;
  width: 1000px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcomeText {
  font-family: Rubik;
  font-weight: 400;
  font-size: 23px;
  color: #3773f6;
}

.mainText {
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

.informationText{
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  color: #3773f6
}

.dropDownText {
  font-family: Manrope, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--text-color);
}

.ageText{
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color)
}

.dataContainerHeader{
  font-family: Rubik;
  font-weight: 400;
  font-size: 23px;
  color: rgb(186, 124, 7)
}

.dataContainerMilestoneText{
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: var(--text-color);
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 280px;
  width: 800px;
}

.dataContainerToysText{
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.containersRow {
  display: flex; /* Places child elements in a row */
  justify-content: start; /* Adjusts spacing between the items */
  align-items: flex-start;
  gap: 30px; /* Aligns items vertically (adjust as needed) */
}

.myAppointmentsButton {
  font-family: Rubik;
  font-weight: 300;
  font-size: 15px;
  background-color: #86d1fc;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 180px;
  height: 36px;
}

.appointmentsText{
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.appointmentForm{
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-color);
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}




